#paper {
    width: 100%;
    z-index: 7;
    background-color: #2f9fd6;
    border-bottom:8px solid #227299;
    color: #fff;
}

#paper img {
    height: 130px;
    margin-top: -20px;
}
#paper .paper-block{
    vertical-align: top;
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 30px;
    height: 95px;
}
#paper .paper-block#desc{
    line-height: 95px;
    text-transform: lowercase;
}

#paper .row{
    text-align: center;
}
#paper .paper-block span{
    text-transform: uppercase;
    display: block;
}
#paper .paper-block .btn:hover{
    background: #206a8f;
}
#paper .paper-block .btn{
    background: #257ca7;
    font-size: 20px;
    color: #fff;
}
@media (min-width: 767px) and (max-width: 1024px) {
    #paper .paper-block#desc{
        font-size: 18px;
    }
}

@media (min-width: 767px) and (max-width: 1300px) {
    #paper .paper-block{
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    #paper .paper-block{
        margin-right: 0;
    }
}
