#team {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323638+0,232626+99 */
    background: #323638; /* Old browsers */
    background: -moz-linear-gradient(top, #323638 0%, #232626 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #323638 0%, #232626 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #323638 0%, #232626 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323638', endColorstr='#232626', GradientType=0); /* IE6-9 */
    padding-top: 340px;
    padding-bottom: 50px;
}

#team #desc {
    font-size: 20px;
    color: #fff;
    text-align: justify;
}

#team .team-style .section {
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
}

#team .team-style .section h2 {
    font-size: 50px;
    margin: 0;
    clear: both;
    color: #fff;
}

#team .team-style .team-member {
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#team .team-style .team-member:hover {
    margin-top: -20px;
}

#team .team-style .team-member .team-member-bg {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 15px;
}

#team .team-style .team-member:hover .team-member-bg {
    background-color: #3498DB;
}

#team .team-style .team-member:last-of-type {
    margin-bottom: 0;
}

#team .team-style .team-member .member-img {
    position: relative;
    overflow: hidden;
}

#team .team-style .team-member .member-img img {
    width: 100%;
    margin-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#team .team-style .team-member:hover .member-img img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#team .team-style .team-detail,
#team .team-style .member-social {
    padding-left: 15px;
}

#team .team-style .member-name {
    color: #fff;
    margin-bottom: 0;
}

#team .team-style .member-post {
    color: #fff;
    font-size: 16px;
    margin-top: 0;
}

#team .team-style hr {
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 1px solid #fff;
}

#team .team-style .member-details {
    color: #fff;
}

#team .team-style .team-member:hover .member-name,
#team .team-style .team-member:hover .member-post,
#team .team-style .team-member:hover .member-details {
    cursor: default;
    color: #FFF;
}

#team .team-style .team-member:hover hr {
    border-top: 1px solid #FFF;
}

#team .team-style .member-social {
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#team .team-style .member-social ul li {
    margin-top: 6px;
    list-style: none;
    display: inline-block;
}

#team .team-style .member-social ul li a {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    color: #333;
    border: 1px solid #333;
    background-color: #FFF;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#team .team-style .team-member:hover .member-social ul li a {
    color: #3498DB;
    border: 1px solid #FFF;
    background-color: #FFF;
}

@media (min-width: 992px) {
    #team .team-style .team-member {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #team {
        padding-top: 550px;
    }
}
@media (max-width: 767px) {
    #team .team-style .section h2 {
        font-size: 38px;
    }

    #team {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #team > img {
        padding-bottom: 20px;
    }
}
